amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
black==26.3.1
celery==5.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==47.0.0
defusedxml==0.7.1
Django==5.2.11
django-cors-headers==4.9.0
django-filter==25.2
django-mail-templated==2.6.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
drf-yasg==1.21.15
Faker==40.15.0
flake8==7.3.0
idna==3.13
importlib_resources==7.1.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
mccabe==0.7.0
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==26.2
pathspec==1.1.1
pillow==12.1.1
platformdirs==4.9.6
pluggy==1.6.0
prompt_toolkit==3.0.52
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==9.0.3
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python3-openid==3.2.0
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
rpds-py==0.30.0
six==1.17.0
social-auth-app-django==5.8.0
social-auth-core==4.8.7
sqlparse==0.5.5
swagger-spec-validator==3.0.4
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
