<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>

<body>
    <h1>Post Detail</h1>
    <h2>title: {{ post.title }}</h2>
    <p>content: {{ post.content }}</p>
    <p>author: {{ post.author }}</p>
    <p>category: {{ post.category }}</p>
    <p>status: {{ post.status }}</p>
    <p>created_at: {{ post.created_at }}</p>
    <p>updated_at: {{ post.updated_at }}</p>
    <p>published_at: {{ post.published_at }}</p>
    <p>profile: {{ post.author.user }}</p>
    <p>email: {{ post.author.user.email }}</p>
    <p>first_name: {{ post.author.first_name }}</p>
    <p>last_name: {{ post.author.last_name }}</p>
</body>

</html>